name: Docker CI/CD

on:
  push:
    branches:
      - docker

jobs:
  realizar_testes:
    runs-on: ubuntu-latest
    container:
      image: node:17-alpine3.14
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        cd app/
        npm install

    - name: Run Docker script
      run: npm docker

    - name: Generate JUnit report
      run: |
        # Supondo que o relatório JUnit seja gerado no diretório 'app/reports'
        mkdir -p reports
        cp -r app/reports/junit.xml .

    - name: Upload JUnit report
      uses: actions/upload-artifact@v2
      with:
        name: junit-report
        path: ./junit.xml

  build_docker_image:
    runs-on: ubuntu-latest
    needs: realizar_testes
    container:
      image: docker:20.10.16
    services:
      docker:
        image: docker:20.10.16-dind
        options: --privileged
    env:
      DOCKER_TLS_CERTDIR: "/certs"
      REGISTRY_USER: ${{ secrets.REGISTRY_USER }}
      REGISTRY_PASS: ${{ secrets.REGISTRY_PASS }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Login to Docker Hub
      run: docker login -u ${{ secrets.REGISTRY_USER }} -p ${{ secrets.REGISTRY_PASS }}

    - name: Build Docker image
      run: docker build -t $CI_REGISTRY_IMAGE:$GITHUB_SHA .

    - name: Push Docker image
      run: docker push $CI_REGISTRY_IMAGE:$GITHUB_SHA

  deploy_dev:
    runs-on: ubuntu-latest
    needs: build_docker_image
    container:
      image: alpine:3.14
    steps:
    - name: Deploy Docker container
      run: docker run -d --name app -p 3000:3000 $CI_REGISTRY_IMAGE:$GITHUB_SHA